{% extends "layouts/base-fullscreen.html" %}

{% block title %} Change Password {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
            <div class="container">
                <p class="text-center">

                </p>
                <div class="row justify-content-center form-bg-image" data-background-lg="/static/assets/img/illustrations/signins.svg">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h3>Welcome!</h3>
                                <p>For security purpose, we recommend you to change your password to proceed.</p>
                                <p>
                                    <span style="color: #be2617">{{ errors }}</span>
                                    <span style="color: #fc1b05">{{ warn }}</span>
                                </p>
                            </div>
                            <style>

                            </style>
                            <form method="post" action="" class="mt-4">
                                {% csrf_token %}
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label>Password</label>
                                    <div class="input-group">
<!--                                        <span class="input-group-text">-->
<!--                                            <span class="fas fa-unlock-alt"></span>-->
<!--                                        </span>-->
                                        <input type="password" name="pass1" class="form-control" placeholder="Password" style="border-right: none" onChange="onChange()" required>
<!--                                        <span class="input-group-text" style="border-left: none;">-->
<!--                                            <svg class="icon icon-xs me-2" fill="currentColor" id="check" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">-->
<!--                                                <path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path>-->
<!--                                                <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd"></path>-->
<!--                                            </svg>-->
<!--                                        </span>-->
<!--                                        <input type="checkbox" onclick="myFunction()">Show Password-->
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label>Confirm</label>
                                        <div class="input-group">
<!--                                            <span class="input-group-text">-->
<!--                                                <span class="fas fa-unlock-alt"></span>-->
<!--                                            </span>-->
                                            <input type="password" name="pass2" class="form-control" placeholder="Password" onChange="onChange()" required>
<!--                                            <span class="input-group-text" id="check" style="border-left: none;">-->
<!--                                                    <img src="/static/assets/img/logo/amsai-logo.png" onclick="myFunction()" style="width: 5%; cursor: pointer" >-->
<!--                                            </span>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-secondary">Sign IN</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            function onChange() {
              const password = document.querySelector('input[name=pass1]');
              const confirm = document.querySelector('input[name=pass2]');
              if (confirm.value === password.value) {
                confirm.setCustomValidity('');
              } else {
                confirm.setCustomValidity('Passwords do not match');
              }
            }
        </script>

        <style>
                div.notif{position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(24, 24, 24); background-color: rgba(0,0,0,0.4)}
        </style>
        {% for message in messages %}
            <div class="notif" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h2 class="h6 modal-title">Session Timeout!</h2>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="message {{ message.tags }}">
                            {{ message }}
                          </div>
                          <div class="modal-footer">
                              <a type="button" class="btn btn-secondary" href="/amsai/login/">Sign IN</a>
                          </div>
                      </div>
                  </div>
                </div>
        {% endfor %}
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
