{% extends "layouts/base-fullscreen.html" %}

{% block title %} Forgot Password {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
            <div class="container">
                <p class="text-center">
                </p>
                <div class="row justify-content-center form-bg-image" data-background-lg="/static/assets/img/illustrations/signins.svg">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h3>Reset Password</h3>
                                <p></p>
                                <p>
                                    <span style="color: #be2617">{{ errors }}</span>
                                    <span style="color: #fc1b05">{{ warn }}</span>
                                </p>
                            </div>
                            <style>

                            </style>
                            <form method="post" action="" class="mt-4">
                                {% csrf_token %}
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label>New Password</label>
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <span class="fas fa-unlock-alt"></span>
                                        </span>
                                        {% if messages %}
                                        {% for message in messages %}
                                        {% if message.tags == 'success' %}
                                        <input type="text" name="email" class="form-control" value="{{ message }}" placeholder="" hidden="">
                                        {% endif %}
                                        {% endfor %}
                                        {% endif %}
                                        <input type="password" name="pass1" class="form-control" placeholder="Password" minlength="8" maxlength="10" onChange="onChange()" id="pass1" required>
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label>New Password (Confirmation)</label>
                                        <div class="input-group">
                                            <span class="input-group-text">
                                                <span class="fas fa-unlock-alt"></span>
                                            </span>
                                            <input type="password" name="pass2" class="form-control" placeholder="Password" onChange="onChange()" id="pass2" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <input type="checkbox" onclick="myFunction()">Show Password
                                        </div>
                                    </div>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-secondary">Sign IN</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            function onChange() {
              const password = document.querySelector('input[name=pass1]');
              const confirm = document.querySelector('input[name=pass2]');
              if (confirm.value === password.value) {
                confirm.setCustomValidity('');
              } else {
                confirm.setCustomValidity('Passwords do not match');
              }
            }

            function myFunction() {
              var x = document.getElementById("pass1");
              var y = document.getElementById("pass2");
              if (x.type === "password") {
                x.type = "text";
                y.type = "text";
              } else {
                x.type = "password";
                y.type = "password";
              }
            }
        </script>
        <style>
                div.notif{position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(24, 24, 24); background-color: rgba(0,0,0,0.4)}
        </style>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
