{% extends "layouts/base.html" %}

{% block title %} Pre Registration {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                  <li class="breadcrumb-item">
                      <a href="#">
                          <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                      </a>
                  </li>
                  <li class="breadcrumb-item"><a href="#">AMSAI</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Pre Registration</li>
              </ol>
          </nav>
          <h2 class="h4">Pre-registration List</h2>
<!--          <p class="mb-0">.</p>-->
      </div>
      <div class="btn-toolbar mb-2 mb-md-0">
<!--          <a href="#" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">-->
<!--              <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>-->
<!--              Add Student-->
<!--          </a>-->
          <div class="btn-group ms-2 ms-lg-3">
<!--              <button type="button" class="btn btn-sm btn-outline-gray-600"><svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>-->
<!--                  Add Teacher</button>-->
              <a type="button" class="btn btn-primary btn-outline-gray">Export</a>
          </div>
          <div class="btn-group ms-2 ms-lg-3">
              <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path></svg>
                      <span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-xs dropdown-menu-end pb-0">
                      <span class="small ps-3 fw-bold text-dark">Show</span>
                      <a class="dropdown-item d-flex align-items-center fw-bold" href="#">10 <svg class="icon icon-xxs ms-auto" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg></a>
                      <a class="dropdown-item fw-bold" href="#">20</a>
                      <a class="dropdown-item fw-bold rounded-bottom" href="#">30</a>
                  </div>
          </div>
      </div>
  </div>

  <div class="card card-body border-0 shadow table-wrapper table-responsive">
      <table class="table table-hover" id="userTable" data-filter-control="true" data-show-search-clear-button="true">
          <thead>
              <tr>
<!--                  <th class="border-gray-200">#</th>-->
                  <th class="border-gray-200 no-sort">RefNo</th>
                  <th class="border-gray-200 no-sort">Name</th>
                  <th class="border-gray-200 no-sort">Student Type</th>
                  <th class="border-gray-200 no-sort">Student ID</th>
                  <th class="border-gray-200 no-sort">LRN</th>
                  <th class="border-gray-200 no-sort">Gender</th>
                  <th class="border-gray-200 no-sort">Contact</th>
                  <th class="border-gray-200 no-sort">Email</th>
                  <th class="border-gray-200 no-sort">Status</th>
                  <th class="border-gray-200 no-sort">Action</th>
              </tr>
          </thead>
          <tbody>
              <!-- Item -->
              {% for obj in list %}
              <tr>
                  <td><span class="fw-normal">{{ obj.refno }}</span></td>
                  <td><span class="fw-normal">{{ obj.lastname }}, {{ obj.firstname }}</span></td>
                  <td><span class="fw-normal">{{ obj.studenttype }}</span></td>
                  <td><span class="fw-normal">{{ obj.studentid }}</span></td>
                  <td><span class="fw-bold">{{ obj.lrn }}</span></td>
                  <td><span class="fw-bold">{{ obj.gender }}</span></td>
                  <td><span class="fw-bold">{{ obj.contact }}</span></td>
                  <td><span class="fw-bold">{{ obj.email }}</span></td>
                  {% if obj.reg_status == "Approve" %}
                  <td><span class="fw-bold text-success">{{ obj.reg_status }}</span></td>
                  {% elif obj.reg_status == "Pending" %}
                  <td><span class="fw-bold text-warning">{{ obj.reg_status }}</span></td>
                  {% else %}
                  <td><span class="fw-bold text-danger">{{ obj.reg_status }}</span></td>
                  {% endif %}
                  <td>
                      <a type="button" class="text-success" href="/amsai/pre-registration/list/{{ obj.registerid }}/update/">Update Status</a>
<!--                      <a class="text-danger" href="/amsai/pre-registration/list/{{ obj.registerid }}/decline/">Decline</a>-->
<!--                          <a class="text-danger rounded-bottom" href="#"><span class="fas fa-trash-alt me-2"></span></a>-->
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>

  <!-- Modal Content -->
  <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-body p-0">
                  <div class="card p-3 p-lg-4">
                      <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                      <div class="text-center text-md-center mb-4 mt-md-0">
                          <h1 class="mb-0 h4">Alert!</h1>
                      </div>
                      <form action="" class="mt-4" >
                          <!-- Form -->
                          <div class="form-group mb-4 text-center justify-content-center">
                              <label class="r">Are you sure you want to approve this registration?</label>
                              <div class="input-group">
                                  <input name="pre_reg" class="form-control" value="Approve">
                              </div>
                          </div>
                          <!-- End of Form -->
                          <div class="d-grid justify-content-center">
                              <button type="submit" class="btn btn-gray-800" style="width: 120px; display: inline;">Yes</button>
<!--                              <button type="submit" class="btn btn-gray-800" style="width: 120px; display: inline-block;">Close</button>-->
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
<style>
    .dataTable > thead > tr > th[class*="sort"]:before,
    .dataTable > thead > tr > th[class*="sort"]:after {
        content: "" !important;
    }
    .no-sort { pointer-events: none!important; cursor: default!important; }
    select-form-sm {
        width: 500px;
    }
</style>


<!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
<script>
  $(document).ready(function() {
    $('#userTable').DataTable();
  });W
</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
</title>
</head>
<body>

</body>
</html>